.navabar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #333;
    color: white;
    border-radius: 50px;
    width: 100vw; /* Ensures the navbar covers the full viewport width */
    max-width: 100%; /* Prevents any overflow */
    box-sizing: border-box; /* Ensures padding is included in the width */
    margin: 0; /* Removes any default margin */
    overflow: auto;
}

.logo-contanier {
    display: flex;
    align-items: center;
}

.logo {
    width: 50px;
    height: 50px;
    margin-right: 10px;
    border-radius: 50%;
    transition: all 1s ease;
    cursor: pointer;
}
.logo:hover {
    box-shadow: 0 4px 8px hsla(180, 96%, 48%, 0.5);
}
.label {
    font-size: 1.5rem;
}

.nav-links {
    display: flex;
    justify-content: center;
    gap: 30px;
    flex: 1;
    list-style: none;
}
.links{
    text-decoration: none;
    color: white;
    font-size: 1.2rem;
    transition: all 0.7s ease;
}
.links:hover {
        color: #9D4EDD;
        color: #9D4EDD;
        transition: all 0.7s ease;
        text-decoration: underline;
        border-bottom: 2px solid green;
}
.links:focus {
    color: #9D4EDD;
    transition: all 0.7s ease;
    text-decoration: underline;
    border-bottom: 2px solid green;
}
.github-logo {
    width: 30px;
    height: 30px;
    margin-left: 50px;
    transition: all 0.7s ease;
}
.github-logo:hover {
    transform: scale(1.2) rotate(10deg); /* Slightly enlarge and rotate the logo on hover */
    opacity: 0.8; /* Slightly reduce opacity on hover */
}
.github-container {
    display: flex;
    align-items: center;
}

/* Responsive Design */
@media (max-width: 768px) {
    .navabar {
        flex-direction: row;
        padding: 15px;
        border-radius: 50px;
    }

    .nav-links {
        flex-direction: row;
        gap: 10px;
        align-items: center;
    }

    .nav-links li {
        margin: 0;
    }
}

@media (max-width: 480px) {
    .label {
        font-size: 1.2rem;
    }

    .nav-links a {
        font-size: 1rem;
    }

    .logo {
        width: 40px;
        height: 40px;
    }

    .github-logo {
        width: 25px;
        height: 25px;
    }
}